# Business Problem

Tanzania has struggled with finding to solution to their water crisis for years. Not only is the affordability of clean water an issue, but the infrastructre and maintenance for water has proven to be a consistent problem for Tanzania. Our stakeholder is an (NGO) looking to locate and improve water wells accross Tanzania that require more upkeep as well as need to be restructured within the community.

# Data Description

In [103]:
import numpy as np
import pandas as pd

In [104]:
X = pd.read_csv('data/x_train.csv')
X.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [105]:
y = pd.read_csv('data/y_train.csv')
y.value_counts()

id     status_group
74247  non functional             1
24713  functional                 1
24727  functional                 1
24726  functional                 1
24725  functional                 1
                                 ..
49474  functional needs repair    1
49473  functional                 1
49471  functional needs repair    1
49469  non functional             1
0      non functional             1
Length: 59400, dtype: int64

In [106]:
y = y.replace({'status_group': {'functional' : 1, 
                                'non functional' : 0, 
                                'functional needs repair' : 2}})

In [107]:
df = pd.concat([X, y], axis=1)
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,id,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,69572,1
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,8776,1
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,34310,1
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,67743,0
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,19728,1

In [108]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  object
 3   funder                 55765 non-null  object
 4   gps_height             59400 non-null  int64
 5   installer              55745 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   wpt_name               59400 non-null  object
 9   num_private            59400 non-null  int64
 10  basin                  59400 non-null  object
 11  subvillage             59029 non-null  object
 12  region                 59400 non-null  object
 13  region_code            59400 non-null  int64
 14  district_code          59400 non-null  int64
 15  lga                    59400 non-null  object
 16  ward                   59400 non-null  object
 17  population             59400 non-null  int64
 18  public_meeting         56066 non-null  object
 19  recorded_by            59400 non-null  object
 20  scheme_management      55523 non-null  object
 21  scheme_name            31234 non-null  object
 22  permit                 56344 non-null  object
 23  construction_year      59400 non-null  int64
 24  extraction_type        59400 non-null  object
 25  extraction_type_group  59400 non-null  object
 26  extraction_type_class  59400 non-null  object
 27  management             59400 non-null  object
 28  management_group       59400 non-null  object
 29  payment                59400 non-null  object
 30  payment_type           59400 non-null  object
 31  water_quality          59400 non-null  object
 32  quality_group          59400 non-null  object
 33  quantity               59400 non-null  object
 34  quantity_group         59400 non-null  object
 35  source                 59400 non-null  object
 36  source_type            59400 non-null  object
 37  source_class           59400 non-null  object
 38  waterpoint_type        59400 non-null  object
 39  waterpoint_type_group  59400 non-null  object
dtypes: float64(3), int64(7), object(30)
memory usage: 18.1+ MB

In [109]:
df['status_group'].value_counts()

1    32259
0    22824
2     4317
Name: status_group, dtype: int64

In [110]:
df['waterpoint_type'].value_counts()

communal standpipe             28522
hand pump                      17488
other                           6380
communal standpipe multiple     6103
improved spring                  784
cattle trough                    116
dam                                7
Name: waterpoint_type, dtype: int64

In [111]:
df['waterpoint_type_group'].value_counts()

communal standpipe    34625
hand pump             17488
other                  6380
improved spring         784
cattle trough           116
dam                       7
Name: waterpoint_type_group, dtype: int64

In [112]:
df['management_group'].value_counts()

user-group    52490
commercial     3638
parastatal     1768
other           943
unknown         561
Name: management_group, dtype: int64

In [113]:
df['management'].value_counts()

vwc                 40507
wug                  6515
water board          2933
wua                  2535
private operator     1971
parastatal           1768
water authority       904
other                 844
company               685
unknown               561
other - school         99
trust                  78
Name: management, dtype: int64

In [114]:
df['funder'].value_counts()

Government Of Tanzania    9084
Danida                    3114
Hesawa                    2202
Rwssp                     1374
World Bank                1349
                          ...
Muniko                       1
Stp-sustainable Tan          1
Iom                          1
Fdc                          1
Shelisheli Commission        1
Name: funder, Length: 1897, dtype: int64

# Breakdown Causes/Payment Type

I think that payment type will be beneficial for our analysis because it allows us to look at whether a water well is invested in rather than simply paid for at one fixed time. The reasoning behind whether it is paid for throughout a long period of time allows us to see if it is functioning better because there is constant maintenance. This also goes hand in hand with funder vs. non funder.


(fromhttps://snv.org/update/functionality-rural-water-sources-largely-dependent-functional-professional-systems) A reliable water source should provide water for a minimum of 350 days in a year with less than 14 days of breakdown. Very few water sources are able to meet this standard and a broken down water source can take up to three months or more before it is repaired. On average, a water source functions well within the first three years, after which it starts breaking down. The majority of the current rural water sources are over 5 years old, not regularly maintained and hence at risk of regular breakdowns.

In [115]:
df['payment'].head()

0      pay annually
1         never pay
2    pay per bucket
3         never pay
4         never pay
Name: payment, dtype: object

In [116]:
df['payment_type'].head()

0      annually
1     never pay
2    per bucket
3     never pay
4     never pay
Name: payment_type, dtype: object

In [117]:
df['payment_type'].value_counts()

never pay     25348
per bucket     8985
monthly        8300
unknown        8157
on failure     3914
annually       3642
other          1054
Name: payment_type, dtype: int64

We could possibly bin these values based on whether they pay consistently throughout the year or singularly one time. I believe that if someone is to pay once and not think about the water well, the well will be less likely to be functional. the payment values seems to already binned while payment_type is split more. We can drop payment type.

In [118]:
df['payment'].value_counts()

never pay                25348
pay per bucket            8985
pay monthly               8300
unknown                   8157
pay when scheme fails     3914
pay annually              3642
other                     1054
Name: payment, dtype: int64

# Location of well Rural vs. Nonrual

While big strides have been achieved in the management of urban water supply sources, many of which are maintained by urban water boards in liaison with private operators, similar progress is yet to be registered for the rural water supply sources.

In [131]:
col_to_delete = ['recorded_by', 'installer', 
                'lga', 'latitude', 'longitude','ward', 'region', 'wpt_name','scheme_name', 'extraction_type', 'extraction_type_group','management', 'payment_type', 'water_quality',  'waterpoint_type_group', 'quantity_group', 'subvillage', 'date_recorded', 'management_group', 'public_meeting']
                 
df.drop(col_to_delete, axis=1)

,id,amount_tsh,funder,gps_height,num_private,basin,region_code,district_code,population,scheme_management,...,payment,quality_group,quantity,source,source_type,source_class,waterpoint_type,id,status_group,new_pump
0,69572,6000.0,Roman,1390,0,Lake Nyasa,11,5,109,VWC,...,pay annually,good,enough,spring,spring,groundwater,communal standpipe,69572,1,False
1,8776,0.0,Grumeti,1399,0,Lake Victoria,20,2,280,Other,...,never pay,good,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,8776,1,True
2,34310,25.0,Lottery Club,686,0,Pangani,21,4,250,VWC,...,pay per bucket,good,enough,dam,dam,surface,communal standpipe multiple,34310,1,True
3,67743,0.0,Unicef,263,0,Ruvuma / Southern Coast,90,63,58,VWC,...,never pay,good,dry,machine dbh,borehole,groundwater,communal standpipe multiple,67743,0,False
4,19728,0.0,Action In A,0,0,Lake Victoria,18,1,0,NaN,...,never pay,good,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,19728,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,60739,10.0,Germany Republi,1210,0,Pangani,3,5,125,Water Board,...,pay per bucket,good,enough,spring,spring,groundwater,communal standpipe,60739,1,False
59396,27263,4700.0,Cefa-njombe,1212,0,Rufiji,11,4,56,VWC,...,pay annually,good,enough,river,river/lake,surface,communal standpipe,27263,1,False
59397,37057,0.0,NaN,0,0,Rufiji,12,7,0,VWC,...,pay monthly,fluoride,enough,machine dbh,borehole,groundwater,hand pump,37057,1,False
59398,31282,0.0,Malec,0,0,Rufiji,1,4,0,VWC,...,never pay,good,insufficient,shallow well,shallow well,groundwater,hand pump,31282,1,False
59399,26348,0.0,World Bank,191,0,Wami / Ruvu,5,2,150,VWC,...,pay when scheme fails,salty,enough,shallow well,shallow well,groundwater,hand pump,26348,1,True

In [132]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 43 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  object
 3   funder                 55765 non-null  object
 4   gps_height             59400 non-null  int64
 5   installer              55745 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   wpt_name               59400 non-null  object
 9   num_private            59400 non-null  int64
 10  basin                  59400 non-null  object
 11  subvillage             59029 non-null  object
 12  region                 59400 non-null  object
 13  region_code            59400 non-null  int64
 14  district_code          59400 non-null  int64
 15  lga                    59400 non-null  object
 16  ward                   59400 non-null  object
 17  population             59400 non-null  int64
 18  public_meeting         56066 non-null  object
 19  recorded_by            59400 non-null  object
 20  scheme_management      55523 non-null  object
 21  scheme_name            31234 non-null  object
 22  permit                 56344 non-null  object
 23  construction_year      59400 non-null  int64
 24  extraction_type        59400 non-null  object
 25  extraction_type_group  59400 non-null  object
 26  extraction_type_class  59400 non-null  object
 27  management             59400 non-null  object
 28  management_group       59400 non-null  object
 29  payment                59400 non-null  object
 30  payment_type           59400 non-null  object
 31  water_quality          59400 non-null  object
 32  quality_group          59400 non-null  object
 33  quantity               59400 non-null  object
 34  quantity_group         59400 non-null  object
 35  source                 59400 non-null  object
 36  source_type            59400 non-null  object
 37  source_class           59400 non-null  object
 38  waterpoint_type        59400 non-null  object
 39  waterpoint_type_group  59400 non-null  object
 40  id                     59400 non-null  int64
 41  status_group           59400 non-null  int64
 42  new_pump               59400 non-null  bool
dtypes: bool(1), float64(3), int64(9), object(30)
memory usage: 19.1+ MB

In [133]:
missing_values = ['permit', 'scheme_name', 'scheme_management', 'public_meeting', 'sub-village', 'installer', 'funder']

In [121]:
df['permit'].value_counts()

True     38852
False    17492
Name: permit, dtype: int64

In [122]:
df['construction_year'].value_counts()

0       20709
2010     2645
2008     2613
2009     2533
2000     2091
2007     1587
2006     1471
2003     1286
2011     1256
2004     1123
2012     1084
2002     1075
1978     1037
1995     1014
2005     1011
1999      979
1998      966
1990      954
1985      945
1980      811
1996      811
1984      779
1982      744
1994      738
1972      708
1974      676
1997      644
1992      640
1993      608
2001      540
1988      521
1983      488
1975      437
1986      434
1976      414
1970      411
1991      324
1989      316
1987      302
1981      238
1977      202
1979      192
1973      184
2013      176
1971      145
1960      102
1967       88
1963       85
1968       77
1969       59
1964       40
1962       30
1961       21
1965       19
1966       17
Name: construction_year, dtype: int64

We are going to have to bin construction year as old and new as a means of making it easier to include within our classification model.

In [123]:
df['waterpoint_type'].value_counts()

communal standpipe             28522
hand pump                      17488
other                           6380
communal standpipe multiple     6103
improved spring                  784
cattle trough                    116
dam                                7
Name: waterpoint_type, dtype: int64

In [124]:
df['source_type'].value_counts()

spring                  17021
shallow well            16824
borehole                11949
river/lake              10377
rainwater harvesting     2295
dam                       656
other                     278
Name: source_type, dtype: int64

In [125]:
df['extraction_type_class'].value_counts()

gravity         26780
handpump        16456
other            6430
submersible      6179
motorpump        2987
rope pump         451
wind-powered      117
Name: extraction_type_class, dtype: int64

Binning Construction year

In [126]:
df['new_pump'] = df["construction_year"] >= 2000

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 43 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  object
 3   funder                 55765 non-null  object
 4   gps_height             59400 non-null  int64
 5   installer              55745 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   wpt_name               59400 non-null  object
 9   num_private            59400 non-null  int64
 10  basin                  59400 non-null  object
 11  subvillage             59029 non-null  object
 12  region                 59400 non-null  object
 13  region_code            59400 non-null  int64
 14  district_code          59400 non-null  int64
 15  lga                    59400 non-null  object
 16  ward                   59400 non-null  object
 17  population             59400 non-null  int64
 18  public_meeting         56066 non-null  object
 19  recorded_by            59400 non-null  object
 20  scheme_management      55523 non-null  object
 21  scheme_name            31234 non-null  object
 22  permit                 56344 non-null  object
 23  construction_year      59400 non-null  int64
 24  extraction_type        59400 non-null  object
 25  extraction_type_group  59400 non-null  object
 26  extraction_type_class  59400 non-null  object
 27  management             59400 non-null  object
 28  management_group       59400 non-null  object
 29  payment                59400 non-null  object
 30  payment_type           59400 non-null  object
 31  water_quality          59400 non-null  object
 32  quality_group          59400 non-null  object
 33  quantity               59400 non-null  object
 34  quantity_group         59400 non-null  object
 35  source                 59400 non-null  object
 36  source_type            59400 non-null  object
 37  source_class           59400 non-null  object
 38  waterpoint_type        59400 non-null  object
 39  waterpoint_type_group  59400 non-null  object
 40  id                     59400 non-null  int64
 41  status_group           59400 non-null  int64
 42  new_pump               59400 non-null  bool
dtypes: bool(1), float64(3), int64(9), object(30)
memory usage: 19.1+ MB

In [128]:
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,id,status_group,new_pump
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,69572,1,False
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,8776,1,True
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,34310,1,True
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,67743,0,False
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,19728,1,False

We now want to see who manages the different types of groups to see who would work well with our stakeholders.

In [129]:
df['scheme_management'].value_counts()

VWC                 36793
WUG                  5206
Water authority      3153
WUA                  2883
Water Board          2748
Parastatal           1680
Private operator     1063
Company              1061
Other                 766
SWC                    97
Trust                  72
None                    1
Name: scheme_management, dtype: int64

In [ ]:
df['scheme_management'].replace #must replace SWC, Trust and None as other.

In [130]:
df['status_group'].head()

0    1
1    1
2    1
3    0
4    1
Name: status_group, dtype: int64